xsd/org.connectorio.xsd.managed/src/main/resources/xsd/co7io/items-1.0.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
 - Copyright (C) 2023-2023 ConnectorIO Sp. z o.o.
 -
 - Licensed under the Apache License, Version 2.0 (the "License");
 - you may not use this file except in compliance with the License.
 - You may obtain a copy of the License at
 -
 -     http://www.apache.org/licenses/LICENSE-2.0
 -
 - Unless required by applicable law or agreed to in writing, software
 - distributed under the License is distributed on an "AS IS" BASIS,
 - WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 - See the License for the specific language governing permissions and
 - limitations under the License.
 -
 - SPDX-License-Identifier: Apache-2.0
 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
  xmlns:tns="https://connectorio.com/xmlns/managed/items/1.0.0"
  targetNamespace="https://connectorio.com/xmlns/managed/items/1.0.0">

  <xs:include schemaLocation="./common-1.0.0.xsd" />

  <xs:complexType name="items">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="item" type="tns:item" />
      <xs:element name="group" type="tns:group" />
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="item">
    <xs:sequence>
      <xs:element name="type" type="xs:string" />
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="group" type="tns:reference" />
        <xs:element name="tag" type="tns:id"  />
      </xs:choice>
      <xs:element name="metadata" type="tns:metadata" minOccurs="0" />
      <xs:element name="link" type="tns:embeddedLink" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="name" type="tns:id" use="required" />
    <xs:attribute name="label" type="xs:string" />
    <xs:attribute name="category" type="tns:id" />
  </xs:complexType>

  <xs:complexType name="group">
    <xs:sequence>
      <xs:element name="type" type="xs:string" fixed="Group" />
      <xs:element name="group" type="tns:reference" minOccurs="0" />
      <xs:element name="tag" type="tns:id" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="metadata" type="tns:metadata" minOccurs="0" />
      <xs:element name="member" type="tns:reference" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="name" type="tns:id" use="required" />
    <xs:attribute name="label" type="xs:string" />
    <xs:attribute name="category" type="tns:id" />
  </xs:complexType>

  <xs:complexType name="embeddedLink">
    <xs:sequence>
      <xs:element name="channel" type="tns:typedReference" />
      <xs:element name="config" type="tns:config" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:element name="items" type="tns:items" />

</xs:schema>
